  .image-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
  }
  
  .image-wrapper.fade-out {
	opacity: 0;
	transition: opacity 1s ease-in-out;
  }
  
  .boxit {
	display: block;
  }
  
  .highlight {
	background-color: yellow;
	font-weight: bolder;
  }

  .dark-mode {
	background-color: black;
	color: white;
  }
  
  .dark-mode img {
	filter: invert(100%);
  }
	